.image {
   flex: 25%;
}


.clicky-image {
   width: 200px;
   height: 240px;
   border: 5px solid #f2f2f2;
   box-shadow: 1px 2px 20px #333;
   cursor: pointer;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   margin-left: 10px;
   margin-top: 10px;
}

.clicky-image:hover {
   transform: scale(1.02);
   -webkit-transform: scale(1.02);
   -moz-transform: scale(1.02);
   -ms-transform: scale(1.02);
   -o-transform: scale(1.02);
}

.shake {
   animation: shake .5s .0125s;
   -webkit-animation: shake .5s .0125s;
}

@keyframes shake {
   0%,to {
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }

  12.5%,37.5%,62.5%,87.5% {
      -webkit-transform: translate(-10px);
      transform: translate(-10px)
  }

  25%,50%,75% {
      -webkit-transform: translate(10px);
      transform: translate(10px)
  }
 }

@media screen and (max-width: 2560px) {
   .image {
      flex: 15%;
   }
}

@media screen and (max-width: 1440px) {
   .image {
      flex: 25%;
   }
}

@media screen and (max-width: 769px) {
   .clicky-image {
      width: 150px;
      height: 200px;
   }
}

@media screen and (max-width: 320px) {
   .clicky-image {
      width: 100px;
      height: 150px;
   }
}